# Android .gitignore

# Built application files
*.apk
*.ap_
*.aab

# ART/Dalvik VM files
*.dex

# Java/Kotlin compiled classes
*.class

# Generated folders
bin/
gen/

# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Local SDK/NDK config
local.properties

# ProGuard (legacy)
proguard/

# Logs
*.log

# Android Studio Navigation editor temp files
.navigation/

# IntelliJ/Android Studio project files
*.iml
.idea/
# Uncomment the next line if you want to keep shared code styles
# !.idea/codeStyles/

# External native build outputs
.externalNativeBuild/
.cxx/

# NDK
obj/

# Captures from Android Studio
captures/

# Signing keys (DO NOT COMMIT SECRETS)
*.jks
*.keystore

# OS artifacts
.DS_Store
Thumbs.db

# Lint
lint/intermediates/
lint/generated/
lint/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
fastlane/readme.md
